hydra_core==1.3.1
omegaconf==2.3.0
# numpy==1.21.6
pygame==2.5.0
gym==0.26.2
joblib==1.2.0
# torch==1.13.1
tensorboard==2.11.2
tqdm==4.64.1
networkx==2.6.3
dafsa==1.0
graphviz==0.14 #0.20.1
moviepy==1.0.3
termcolor==2.2.0
# python-sat==0.1.7.dev26
pytictoc==1.5.2
# If there are issues installing: https://stackoverflow.com/questions/19579528/pygame-installation-sdl-config-command-not-found
-e 'git+https://github.com/rparac/gym-subgoal-automata.git#egg=gym_subgoal_automata'

# Hydra hyperparmeter tuning
hydra-optuna-sweeper==1.2.0
